{{- $isDumpRpcs := false -}}
{{- $isDumpEnums := false -}}
{{- $isDumpMsgs := false -}}
{{- $isDumpRtClient := true -}}

{{- if $isDumpRpcs -}}{{/* ---------- BEGIN RPC DUMP */}}
{{- range $idx, $rpc := $.Rpcs -}}

------------------
RPC
{{ "\n" -}}
Name:          {{ $rpc.Name }}
RequestType:   {{ with $rpc.RequestType }}{{ $rpc.RequestType.Name }}{{ end }}
ReturnType:    {{ with $rpc.ReturnType }}{{ $rpc.ReturnType.Name }}{{ end }}
Endpoint:      {{ $rpc.Endpoint }}
Method:        {{ $rpc.Method }}
Query Params:
{{- range $idx, $param := $rpc.QueryParams -}}
{{- " "}}{{ $param }}
{{- end -}}
{{- end -}}

{{ "\n" }}
{{- end -}}{{/* ---------------------- END RPC DUMP */}}

{{- if $isDumpEnums -}}{{/* ---------- BEGIN ENUM DUMP */}}
{{- range $idx, $enum := $.Enums -}}

------------------
ENUM
{{ "\n" -}}
Comment:       {{ $enum.Comment }}
Name:          {{ $enum.Name }}
Fields:
{{- range $idx, $field := $enum.Fields -}}
{{- "\n  " -}}{{ $field.Name }} {{ $field.Input }} {{ $field.Output }} = {{ $field.Integer }} // {{ $field.Comment.Message }}
{{- end -}}

{{ "\n\n" }}
{{- end -}}
{{- end -}}{{/* ---------------------- END ENUM DUMP */}}

{{- if $isDumpMsgs -}}{{/* ---------- BEGIN MESSAGE DUMP */}}
{{- range $idx, $msg := $.Messages -}}

------------------
MESSAGE
{{ "\n" -}}
Comment:       {{ $msg.Comment }}
Name:          {{ $msg.Name }}
Oneofs:
{{- range $idx, $field := $msg.OneofFields -}}
{{- "\n  " -}}{{ $field.Type}} {{ $field.Name }} // {{ $field.Comment.Message }}
{{- end -}}

{{ "\n\n" }}
{{- end -}}
{{- end -}}{{/* ---------------------- END MESSAGE DUMP */}}

{{- if $isDumpRtClient -}}{{/* ---------- BEGIN RT DUMP */}}
{{- $envelope := getMessage "Envelope" -}}
{{- range $idx, $rpc := $envelope.OneofFields -}}

{{- $rpcType := getMessage (stripDot $rpc.Type) -}}

------------------
ENVELOPE REQUEST
{{ "\n" -}}
Type:          {{ $rpcType.Name }}
{{- range $idx, $rpcTypeField := $rpcType.Fields -}}
{{ "\n  " }}{{ $rpcTypeField.Name }}
{{- end -}}
{{- range $idx, $rpcTypeField := $rpcType.MapFields -}}
{{ "\n  " }}{{ $rpcTypeField.Name }}
{{- end -}}
{{ "\n" -}}
Name:          {{ $rpc.Name }}
Comment:       {{ $rpc.Comment.Message }}

{{ "\n\n" }}
{{- end -}}
{{- end -}}{{/* ---------------------- END RT DUMP */}}
