{{- range $idx, $rpc := $.Rpcs -}}

------------------
RPC
{{ "\n" -}}
Name:          {{ $rpc.Name }}
RequestType:   {{ with $rpc.RequestType }}{{ $rpc.RequestType.Name }}{{ end }}
ReturnType:    {{ with $rpc.ReturnType }}{{ $rpc.ReturnType.Name }}{{ end }}
Endpoint:      {{ $rpc.Endpoint }}
Method:        {{ $rpc.Method }}
Query Params:
{{- range $idx, $param := $rpc.QueryParams -}}
{{- " "}}{{ $param }}
{{- end -}}

{{ "\n" }}
{{- end -}}
{{- end -}}{{/* ---------------------- END RPC DUMP */}}


{{- if $isDumpEnums -}}{{/* ---------- BEGIN ENUM DUMP */}}
{{- range $idx, $enum := $.Enums -}}

------------------
ENUM
{{ "\n" -}}
Comment:       {{ $enum.Comment }}
Name:          {{ $enum.Name }}
Fields:
{{- range $idx, $field := $enum.Fields -}}
{{- "\n  " -}}{{ $field.Name }} {{ $field.Input }} {{ $field.Output }} = {{ $field.Integer }} // {{ $field.Comment.Message }}
{{- end -}}

{{ "\n\n" }}
{{- end -}}
{{- end -}}{{/* ---------------------- END ENUM DUMP */}}

